.modal__form{
    display:flex;
    flex-direction:column;
    width:80%;
    height:auto;

    margin:0 auto;

    text-align:center;

    background-color:#345276;
    padding:10px;

    font-size:2.5rem;

    border-radius:5px;
    box-shadow: 4px 4px 1px rgb(0 0 0 / 16%);
}

.form__label{
    margin-bottom:12px;
}

.modal-button__container{
    display:flex;
    justify-content: space-evenly;

    width:100%;

    margin-top:12px;
}

.modal-button
{
    color:#fff;
    font-size:1.8rem;
    padding:3px;

    border-radius:3px;
}

.modal-button--green
{
    background-color:#4CAF50;
    border:4px solid #81C784;
}

.modal-button--green:hover
{
    border:4px solid #C8E6C9;
}


.modal-button--red
{
    background-color: #E53935;
    border:4px solid #E57373;
}

.modal-button--red:hover
{
    border:4px solid #FFCDD2;
}
